.submit-btn {
    width: 250px;
    height: 60px;
    background: none;
    border: 4px solid;
    color: $darkGreen;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        width: 14px;
        height: 4px;
        background: $white;
        transform: skewX(50deg);
        transition: .4s linear;
        top: -4px;
        left: 10%;
    }

    &:after {
        content: "";
        position: absolute;
        width: 14px;
        height: 4px;
        background: $white;
        transform: skewX(50deg);
        transition: .4s linear;
        bottom: -4px;
        right: 10%;
    }

    &:hover{
        &:before{
            left: 80%;
        }
        &:after{
            right: 80%;
        }
    }
}