header{
    font-family: 'Montserrat', sans-serif;
}
.header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    box-shadow: $shadow;
    background-color: $backgroundWhite;
    color: $textColor;

    .header-logo {
        padding: 20px 30px;
        background-color: $clearGreen ;
        text-transform: uppercase;
       a{
        color: $textColor;
       }
    }

    .header-nav {
        display: flex;

        .nav-list {
            display: flex;
            list-style: none;

            .nav-item {
                padding: 8px 15px;
                text-transform: uppercase;
                font-size: 20px;
                &.middle-item{
                    border-right: rgb(206, 206, 206) 0.1px solid;
                    border-left:  rgb(206, 206, 206) 0.1px solid;
                }
                &.left-item{
                    border-right: rgb(206, 206, 206) 0.1px solid;
                }
                a {
                    color: black;
                    text-decoration: none;
                }
            }
        }
    }

}





/* RESPONSIVE NAVBAR */
/* CREATION DU MENU BURGER */
.header-nav-wrapper {
    cursor: pointer;
    padding: 10px 0;
    display: none;

    .header-nav-burger {
        width: 30px;
        height: 4px;
        background: black;
        position: relative;
    
        &:before {
            content: "";
            position: absolute;
            bottom: 10px;
            width: 30px;
            height: 4px;
            background: black;
            transition: 0.5s;
        }
    
        &:after {
            content: "";
            position: absolute;
            top: 10px;
            width: 30px;
            height: 4px;
            background: black;
            transition: 0.5s;
        }

        &.is-animate {
            background-color: white;
        
            &:before {
                transform: rotate(45deg);
                bottom: 0;
                transition: 0.5s;
            }
        
            &:after {
                transform: rotate(-45deg);
                top: 0;
                transition: 0.5s;
            }
        
        }
    }   
}






.nav-responsive {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50vw;
    height: 100vh;
    background: white;
    z-index: 99999;
    box-shadow: 3px 3px 5px rgb(161, 161, 161);
    transition: 0.6s;

    &.nav-transition {
        left: 0px;
        transition: 0.6s;
    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background: #4e4e4e65;
    opacity: 0;
    z-index: -1;
    transition: 0.6s;
    &.is-open {
        z-index: 9999;
        opacity: 1;
        transition: 0.5s ease-in;
    }
}


.overflow {
    overflow: hidden;
}


@media(max-width:1200px) {}

@media(max-width:1080px) {}

@media(max-width:992px) {}

@media(max-width:768px) {
    .header-main {

        .header-nav {
            display: none;
            // .nav-list {
            //     display: flex;
            //     list-style: none;
            //     justify-content: center;
            // }
        }

    }

    .header-nav-wrapper {
        display: block;
    }


    

    
}

@media(max-width:576px) {}

@media(max-width:320px) {}