$textColor : #222f3e;
$clearGreen : #1dd1a1;
$darkGreen : #10ac84;
$ultraDarkGreen : #0b5845;
$gray: #9b9b9b;
$darkGray : #3d3d3d;
$shadow : 0 2px 2px 0px rgba(0,0,0,.2);
$backgroundWhite : #f9f9f9;
$white: #fff;